body{
    padding:0px;
    margin:0px;
    color:#333333;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color:#FFFFFF;
    background-image:url(bg.gif); 
    background-repeat:repeat-x;
}

.copy {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 14px;
	color: #D7D7D7;
	text-decoration:none;
}
.text_1 {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 13px;
	color: #555555;
}
.search {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 14px;
	color: #4F4F4F;
	background-color: #FFFFFF;
	height: 21px;
	width: 140px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CDCDCD;
	border-bottom-color: #CDCDCD;
}
.text_2 {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 13px;
	color: #363636;
}
.link_1 {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	color: #464646;
}
.form_1 {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 14px;
	background-color: #FFFFFF;
	height: 21px;
	width: 223px;
	border: 1px solid #7A846A;
}
.form_2 {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 14px;
	background-color: #FFFFFF;
	height: 20px;
	width: 171px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #404040;
	border-right-color: #D4D0C8;
	border-bottom-color: #D4D0C8;
}
.form_3 {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 14px;
	background-color: #FFFFFF;
	height: 152px;
	width: 223px;
	border: 1px solid #7A846A;
	overflow:auto
}

a:link {
    background: transparent none repeat scroll 0%;
    color: #666666;
    /*color: #000000;  */
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    background: transparent none repeat scroll 0%;
    /* color: #999999; */
    /*color: #000000;  */
    color: #666666;  
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background: transparent none repeat scroll 0%;
    color: #553300;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    background: transparent none repeat scroll 0%;
    color: #666666;
    font-weight: bold;
    text-decoration: none;
}

page_wrapper {
    background:#FFFFFF none repeat scroll 0%;
#    border:8px solid #FFFFFF;
#    margin-left:auto;
#    margin-right:auto;
#    text-align:left;
#    width:98%;
}

#header_wrapper {
    #background:transparent url(images/menu_bg.gif) repeat-x scroll left bottom;
    #background:transparent repeat-x scroll left bottom;
    height:250px;
    margin:0pt;
    padding:0pt;
}
#header {
    background-attachment:scroll;
    background-color:transparent;
    background-position:right top;
    background-repeat:no-repeat;
    /*height:365px; */
    height:160px;
    margin-left:20px;
    margin-top:20px;
    /* margin:0pt; */
    padding:0px;
}
#header h1 {
    color:#FFFFFF;
    font-family:verdana,arial,sans-serif;
    font-size:20px;
    letter-spacing:-1px;
    margin:0pt;
}

#navlist {
    /* border-bottom:1px solid #636363; */
    font-family:Verdana,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    margin-bottom:0pt;
    margin-left:0pt;
    margin-top:35px;
    padding:0px 0pt;
    text-align:left;
    white-space: nowrap;
}
#navlist li {
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0pt;
}
#navlist li a {
    /* background:#919191 url(images/tab_bg.gif) repeat-x scroll left bottom; */

    /*border-left:1px solid #606060;
    border-right:1px solid #636363;
    border-style:solid solid none; */
    border-style: outset;

    /* border-top:1px solid #606060; */
    border-width:1px; 
    color:#000000;
    /*color:#F1F6FE; */
    /* opacity: 0.75; */
    margin-left:0px;
    padding:5 15px;
    text-decoration:none;
}
#navlist li a:link {
    /*color:#F1F6FE; */
    *color:#000000; 
}
#navlist li a:visited {
    /*color:#F1F6FE; */
    color:#000000; 
}
#navlist li a:hover {
    background:#737373 none repeat scroll 0%; 
    border-color:#454545;
    color:#FFFFFF;
    text-decoration:underline;
}
#navlist li a#current {
    background:#FFFFFF none repeat scroll 0%;
    border-bottom:1px solid #FFFFFF;
    color:#000000;
}

#main {
    margin-left:35pt;
    margin-right:35pt;
}


