html, body,table,div,a {
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial, Verdana,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    /*line-height:normal;*/
    line-height:18px; 
    /*color: #222222;  */
    /*TODO*/
}

h1,h2,h3 {
    line-height:normal; 
}

h3 {
    font-size:14px;
    color: #333333;
}

h2 {
    font-size:18px;
}

h1 {
    font-size:22px;
}

p {
    margin-bottom: 18px;
}

#normalbody {
    padding:0px;
    margin:0px;
    /*color:#000000;*/
    margin-bottom: 0px;
    margin-top: 0px;
    text-align:center;
    margin-right:auto;
    margin-left:auto; 
    background: #DADADA none repeat scroll 0 0;
}

#normalbodynobackground {
    padding:0px;
    margin:0px;
    /*color:#000000; */
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color:#FFFFFF; */
    /*background-image:url(bg.gif); 
    background-repeat:repeat-x; */
}

#logo {
    border: 0px;
    margin-right: 25px;
    margin-top: 10px;
}

#headingimage {
    border: 0px;
    margin-top: 10px;
}

a:link, a:visited, a:active {
    /*background: transparent none repeat scroll 0%; */
    /*color: #666666; */
    /*color: #000000;  */
    /*TODO*/
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    /*background: transparent none repeat scroll 0%; */
    /*color: #000000; */
    /*TODO*/
    font-weight: bold;
    text-decoration: underline;
}

#contain {
    min-width: 675px; 
    border-style: solid; 
    background: #FEE;
    margin: 1em; padding: 0.5em 0;
}
#column {
    background: #EEE; text-align: center;
}
#logoheader {
    white-space: nowrap; 
    float: left; 
    background-color: transparent; width: 20%;
}

/*#page_wrapper {
    background:#FFFFFF none repeat scroll 0%;
} */

.slim_logo_header {
    height:70px;
    width:100%;
}
#forge-header {
    height:70px;
    width:100%;
}
#forge-header > div {
    float:left;
}
#forge-logo {
    width:140px;
}
#forge-header > div#auth-nav {
    float:right;
    font-size:0.8em;
    position:relative;
    right:0;
}
.slim-project {
    margin:0 auto;
    text-align:center;
    white-space:nowrap;
    width:80%;
}

#auth-nav a:hover {
    background-color:#444444;
    color:#FFFFFF;
}

#auth-nav a {
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    color: #000000;
    background-color: #B3B38E;
    cursor:pointer;
    font-size:9;
    /*padding:5px 7px; */
    padding: 3px;
    margin: 2px 0;
}
#auth-nav {
    padding-right:3px;
    text-align:right;
}

#header_wrapper {
    /*#background:transparent url(images/menu_bg.gif) repeat-x scroll left bottom;
    #background:transparent repeat-x scroll left bottom; */
    height:180px;
    margin-right:auto;
    margin-left:auto;  
    /*margin:0pt;*/
    /*margin-right:auto;
    margin-left:auto; 
    text-align:center; */
    text-align:left;
    width:800px;
}

#header_wrapper2 {
    /*#background:transparent url(images/menu_bg.gif) repeat-x scroll left bottom;
    #background:transparent repeat-x scroll left bottom; */
    /*height:180px; */
    margin-right:auto;
    margin-left:auto;  
    /*margin:0pt;*/
    /*margin-right:auto;
    margin-left:auto; 
    text-align:center; */
    text-align:left;
    width:800px; 
}

.nav_menu
{
    background-color: #B3B38E;
    width: 100%;
    /*border-top: 5px groove;
    border-bottom: 5px groove;  */
    /*border-top: 5px ridge;
    border-bottom: 5px ridge;  */
    /*border-top: 5px inset;
    border-bottom: 5px inset;   */
    /*border-top: 5px outset;
    border-bottom: 5px outset;    */


    margin-bottom: 7px;
    /*margin-left: 10px; */
    min-height: 7px;
    padding: 7px 5px;
    text-align: center;

    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
}

.nav_menu a:hover {
    background-color:#444444;
    color:#FFFFFF;
    cursor:pointer;
}

.nav_menu a
{
    color: #000000;
    font-weight: bold;
    margin: 10px 0;
    padding: 3px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-radius-bottomleft: 6px;
    -webkit-border-radius-topleft: 6px;
    -webkit-border-radius-bottomright: 6px;
    -webkit-border-radius-topright: 6px;
    border-radius-bottomleft: 6px;
    border-radius-topleft: 6px;
    border-radius-bottomright: 6px;
    border-radius-topright: 6px;
}

/*.nav_menu td:hover
{
    background-color: #777750;
} */

#header_wrapper_natural {
    /*#background:transparent url(images/menu_bg.gif) repeat-x scroll left bottom;
    #background:transparent repeat-x scroll left bottom; */
    height:40px;
    margin:0pt;
    padding:0pt;
}
#header {
    background-attachment:scroll;
    background-color:transparent;
    background-position:right top;
    background-repeat:no-repeat;
    /*height:365px; */
    height:140px;
    margin-left:20px;
    margin-top:10px;
    /* margin:0pt; */
    padding:0px;
}
#header h1 {
    color:#FFFFFF;
    /*font-family:verdana,arial,helvetica,sans-serif; */
    /*font-size:20px; */
    letter-spacing:-1px;
    margin:0pt;
}

#navlist {
    /* border-bottom:1px solid #636363; */
    font-family:Verdana,sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    margin-bottom:0pt;
    margin-left:0pt;
    margin-top:35px;
    padding:0px 0pt;
    text-align:left;
    white-space: nowrap;
}
#navlist li {
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0pt;
}

#navlist li a {
    /* background:#919191 url(images/tab_bg.gif) repeat-x scroll left bottom; */

    /*border-left:1px solid #606060;
    border-right:1px solid #636363;
    border-style:solid solid none; */
    border-style: outset;

    /* border-top:1px solid #606060; */
    border-width:1px; 
    color:#000000;
    /*color:#F1F6FE; */
    /* opacity: 0.75; */
    margin-left:0px;
    padding:5 15px;
    text-decoration:none;
}
#navlist li a:link {
    /*color:#F1F6FE; */
    color:#000000; 
}
#navlist li a:visited {
    /*color:#F1F6FE; */
    color:#000000; 
}
#navlist li a:hover {
    background:#737373 none repeat scroll 0%; 
    border-color:#454545;
    color:#FFFFFF;
    text-decoration:underline;
}
#navlist li a#current {
    background:#FFFFFF none repeat scroll 0%;
    border-bottom:1px solid #FFFFFF;
    color:#000000;
}

.main_application {
    background-color:#ffffff;
    margin-right:auto;
    margin-left:auto;  
    text-align:left;
    width:900px;
    padding-left:10px;
    padding-right:10px;
}

#main {
    background-color:#ffffff;
    margin-right:auto;
    margin-left:auto;  
    text-align:left;
    width:780px;
    /* JAN CHANGE */
    /*padding-left:10px;
    padding-right:10px; */
}

/*.destination {
    background-color:#ffffff;
    margin-right:auto;
    margin-left:auto;  
    text-align:left;
    width:780px;
    padding-left:10px;
    padding-right:10px;
} */
.mainClass {
    background-color:#ffffff;
    margin-right:auto;
    margin-left:auto;
    text-align:left;
    width:780px;
    padding-left:10px;
    padding-right:10px;
}


.bodyText {
    background-color:#b3b38e;
    margin-right:auto;
    margin-left:auto;  
    margin-top: 10px;
    text-align:left;
    padding-left:10px;
    padding-right:10px;
    /* JAN CHANGE */
    margin-left:10px;
    margin-right:10px;
    font-size:14px;
    border: 2px solid black;

}
.bodyText a {
    color:#000000;
}

.nestedText {
    background-color:#B3B38E;
    width:510px;
    float:left;
    display:block;
}

/* quick link container */
.quickLinkSection {
    width:190px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    margin-left:20px;
    margin-top: 120px;
    display:block;
    border: 1px solid #7DA87D;
    line-height:22px;
}

.quickLinkHead {
    background-color:#7DA87D;
    margin-left:-10px;
    margin-top:-10px;
    margin-bottom:10px;
    font-family: 'Candal', sans-serif;
    font-size: 12pt;
}

.quickLinkSection img {
    margin-top:15px;
}
.quickLinkSection a {
    /*color:#334533;*/
    color:#1D261C;
}

.requestBorder {
    border: 1px solid #7DA87D;
}
.requestTablePosition {
    margin-left:10px;
    margin-top:10px;
}
.requestBorder tr td {
    padding-left:10px;
}
form
{
    border:0px;
}

.emplink {
    margin-top: 5px;
}
.emplinks {
    display:none;
    padding-left:10px;
    }
.emplinks a {
    font-size:10px;
    }
    
.requestInfoSection {
    width:600px;
    padding-left:10px;
    /*padding-top:10px; */
    padding-bottom:10px;
    float:left;
    margin-left:20px;
    margin-top: 20px; 
    display:block;
    border: 1px solid #7DA87D;
    line-height:22px;
}

.requestInfoHead {
    background-color:#7DA87D;
    margin-left:-10px;
    margin-top:-10px;
    padding-left:0px !important;
}

.requestInfoSection img {
    margin-top:15px;
}
.requestInfoSection a {
    color:#334533;
}

.simple {
    /*margin-left:35pt;
    margin-right:35pt; */
}

/* Scrollable Content Height */
.scrollContent {
    /*height:200px; constraint-size */
    overflow-x:hidden;
    overflow-y:auto;
}

.scrollContent tr {
    height: auto;
    white-space: nowrap;
}

/* Prevent Mozilla scrollbar from hiding right-most cell content */
.scrollContent tr td:last-child {
    padding-right: 20px;
}

/* Fixed Header Height */
.fixedHeader tr {
    position: relative;
    height: auto;
}

/* Put border around entire table */
.tableContainer {
    border: 1px solid #7DA87D;
}

/* Table Header formatting */
.headerFormat {
    background-color: white;
    color: #FFFFFF;
    margin: 3px;
    padding: 1px;
    /*white-space: nowrap; */
    /*font-family:verdana,arial,helvetica,sans-serif;
    font-size: 13px; */
    text-decoration: none;
    font-weight: bold;
}

.headerFormat tr td {
    border: 1px solid #000000;
    background-color: #7DA87D;
    white-space: wrap;
}

/* Table Body (Scrollable Content) formatting */
.bodyFormat tr td {
    color: #000000;
    margin: 3px;
    padding: 1px;
    border: 0px none;
    /*font-family: verdana,arial,Helvetica,sans-serif;
	font-size: 12px; */
}

.headingRow {
    margin: 3px;
    padding: 1px;
    font-weight: bold;
    background-color: #7DA87D;
    color: #FFFFFF;
    /*font-family: verdana,arial,Helvetica,sans-serif;
    font-size: 13px; */
}

/* Use to set different color for alternating rows */
.alternateRow {
    background-color: #E0F1E0;
    /*font-family: verdana,arial,Helvetica,sans-serif;
    font-size: 12px; */
}

.standardRow {
    background-color: #FFFFFF;
}

/* IE Specific Style addition to constrain table from automatically growing in height */
.TableContainer {
    /*height: 161px;  */
    overflow-x:hidden;
    overflow-y:auto;
}

.homeTableContainer {
    width:100%;
    height:100%;
    display:table;
    margin-top:12px;
}

.titleText {
    /* color:#999999; */
    /*color:#000000; */
    /*font-family:verdana,arial,helvetica,sans-serif;*/
    /*font-size:12px; */
    font-weight:normal;
    font-size:15px;
    text-align:left;
    text-decoration:none;
}

.articleText {
    /* color:#999999; */
    /*color:#000000; */
    /*font-family:verdana,arial,helvetica,sans-serif;*/
    /*font-size:12px; */
    font-weight:normal;
    text-align:left;
    text-decoration:none;
    /*background-color:#B3B38E;*/
}

.articleTextItalic {
    /* color:#999999; */
    /*color:#000000; */
    /*font-family:verdana,arial,helvetica,sans-serif;*/
    /*font-size:12px; */
    font-weight:normal;
    font-style:italic;
    text-align:left;
    text-decoration:none;
}

.statelayout {
    /*font-family:verdana,arial,helvetica,sans-serif;*/
    width:100%;
    height:628px;
}

.loadtable {
    /*font-family:verdana,arial,helvetica,sans-serif;*/
    width:100%;
    border: 1px solid black;
}

.addressHeader {
    margin-top: 10px;
}

.addressHeader input[type='button']
{
    margin-left:10px;
}
#sidebar div a {
    color:#126C52;
    font-style: italic;
    font-size: 8pt;
}