# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName mmm2607
AuthUserFile /usr/home/bla120/www/htdocs/_vti_pvt/service.pwd
AuthGroupFile /usr/home/bla120/www/htdocs/_vti_pvt/service.grp
